node_modules
npm-debug.log
Dockerfile
docker-compose.yml
.dockerignore
.git
.gitignore
.env
.env.example
.profile
npmrc
yarn.lock
.pnpmstore
.tmp
.temp
.cache
dist
.build
coverage
*.md
Makefile
ecosystem.config.js
nginx.conf
tsconfig.json
vite.config.ts